:root {
    --yellow-light: #fbba44;
    --yellow-dark: #f49848;
    --pink-light: #EB3E92;
    --pink-dark: #ca3480;
    --dark-text: #0a090e;
}

* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Variable","Lexend", serif;
    height: 100vh;
    width: 100%;
}

.background-image {
    position: fixed;
    width:100%;
    height:auto;
    top:0;
    right: 0;
    z-index: -100;
}

.nav-bar {
    position: fixed;
    height: 100%;
    width:10%;
    top: 0;
    right: 0;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar-background {
    position: absolute;
    height: 100vh;
    z-index: -50;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.nav-bar li img {
    max-width: 120px;
    transition: transform 0.3s ease;
}

.nav-bar li img:hover {
    transform: scale(1.1);
}

.container {
    width: 90%;
}

.slide {
    height:100vh;
}

.team.slide {
    height:100%;
}

.link-icon {
    margin-top: 50px;
    width: 60px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.link-icon:hover {
    transform: scale(1.1);
    box-shadow: 15px 0 50px var(--yellow-light), -20px 0 50px var(--pink-light);
}

.link-icon.mini {
    margin: 0;
    width: 30px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.divider {
    width: 100px;
    height: 20px;
    background-color: var(--yellow-light);
    border-radius: 10px;
    margin: 40px auto;
}

.kioreco-details {
    width: 90%;
    color: var(--pink-light);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}
.kioreco-details .logo-big {
    width: 100%;
    max-width: 1000px;
}

.slogan {
    margin-top: 20px;
    margin-bottom: 0;
}

.kioreco-description {
    margin: auto;
    text-align: center;
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 600;
}

.title-background {
    position: relative;
    top: 50px;
    left: -50px;
    max-width: 600px;
    height: 80px;
    background-color: var(--yellow-light);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-title {
    font-size: clamp(40px, 2vw, 60px);
    font-weight: 800;
    position: relative;
}

.team-members {
    max-width: 1500px;
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    row-gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.team-card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
    width: 400px;
    height: 350px;
    background: linear-gradient(180deg, var(--yellow-light) 0%, rgba(251, 186, 68, 0) 100%);
}

.team-card.variant {
    background: linear-gradient(180deg, var(--pink-light) 0%, rgba(232, 53, 128, 0) 100%);
}

.profile-pic {
    margin-top: 20px;
    width: 200px;
    border-radius: 10px;
}

.team-name {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.team-description {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.games.slide{
    height: 100%;
}

.games-showcase {
    max-width: 2000px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
}

.big-game-showcase {
    width: 40%;
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(180deg, var(--pink-light) 0%, rgba(232, 53, 128, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-right: 50px;
    gap: 10px;
}

.other-games-showcase {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
}

.game-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #A691E0 100%);
}

.game-logo {
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
}

.game-link {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
    transition: 0.3s ease;
}

.game-link:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px white;
}

.game-info {
    width:60%;
    height: 100%;
}

.game-title {
    font-size: clamp(20px, 2vw, 30px);
    font-weight: 700;
    margin-top: 20px;
}

.game-title.big {
    font-size: clamp(30px, 2vw, 60px);
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.big-game-description{
    font-size: clamp(15px, 2vw, 20px);
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 10px;
    margin-top: 0;
}

.game-description {
    font-size: clamp(17px, 2vw, 20px);
    margin-left: 15px;
}

@media (max-width: 1400px) {
    iframe {
        width:90%;
    }
}

.social-icons {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

footer {
    width: 100%;
    text-align: center;
}

section.games{
    width:100%
}

.video{
    height: 100%;
    aspect-ratio: 16/9;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 1400px) {
    .games-showcase {
        flex-direction: column;
    }

    .big-game-showcase,
    .other-games-showcase {
        width:90%;
        margin: 0;
    }

    .game-logo{
        width: 100px;
    }

    .nav-bar li img{
        width:100%;
        min-width: 50px;
    }

    .social-icons {
        column-gap: 15px;
        row-gap: 0;

        display: grid;
        grid-template-columns: 60px 60px 60px;
    }
    .social-icons img{
        margin: 0;
    }

    .team-card{
        width: 85%;
    }

    .game-content {
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        background: linear-gradient(180deg, #A691E0 0%, rgba(255, 255, 255, 0) 100%);
    }



    .game-title, .game-description, .team-name, .team-description{
        text-align: center;
    }

    .container {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .games-showcase{
        width: 90%;
    }

}


/* The Modal */
.game-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: linear-gradient(90deg, rgba(251, 176, 41, 0.55) 0%, rgba(251, 194, 91, 0.55) 25%, rgba(247, 105, 164, 0.55) 75%, rgba(249, 36, 125, 0.55) 100%);
    transition: ease-in-out 1s;
}

/* Modal Content/Box */
.game-modal-content {
    background-color: white;
    border-radius: 30px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    animation-duration: 0.75s;
    text-align: center;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0; scale: 0.5}
    to {top: 0; opacity: 1; scale: 1}
}

/* The Close Button */
.close {
    color: var(--pink-light);
    padding-right: 20px;
    float: right;
    font-size: 40px;
    font-weight: bold;
    transition: ease-in-out 0.5s;
}

.close:hover,
.close:focus {
    scale: 1.2;
    text-decoration: none;
    cursor: pointer;
}

.modal-button {
    cursor:pointer;
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(90deg, #FBB029 0%, #FBC25B 25%, #F769A4 75%, #F9247D 100%);
    border-radius: 30px;
    padding: 5px 25px;
    transition: 0.3s ease-in-out;
}

.modal-button:hover {
    transform: scale(1.1);
    box-shadow: 10px 0 20px var(--pink-light), -10px 0 20px var(--yellow-light);
}

.columns-info{
    display: flex;
    flex-direction: row;
}

.game-logo-image {
    min-height: 200px;
    max-height: 350px;
}

.lateral-info {
    padding: 0 40px;
    width: 60%;
}

.lateral-images {
    margin-top: 10px;
    width: 40%;
}

.image-side {
    width: 100%;
    border-radius: 20px;
}

.header-title {
    margin: 0;
    font-weight: 1000;
    font-size: 40px;
    text-align: center;
    color: var(--pink-dark);
}

.info-text {
    text-align: justify;
    font-size: 20px;
}

.info-text.center {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    background-color: black;
    border-radius: 50px;
}

.info-text strong{
    color: #ca3480;
    font-weight: 800;

}

.info-text strong.yellow {
    color: var(--yellow-dark);
}

.small-details.center {
    height: 50px;
}

.small-details {
    height: 30px;
}