:root {
    --yellow-light: #fbba44;
    --yellow-dark: #f49848;
    --pink-light: #e83580;
    --pink-dark: #ca3480;
    --dark-text: #0a090e;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Variable", sans-serif;
    height: 100vh;
    width: 100%;
}

.background-image {
    position: fixed;
    width:100%;
    height:auto;
    top:0;
    right: 0;
    z-index: -100;
}

.nav-bar {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar-background {
    position: absolute;
    height: 100vh;
    z-index: -50;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.nav-bar li img {
    max-width: 120px;
    transition: transform 0.3s ease;
}

.nav-bar li img:hover {
    transform: scale(1.1);
}

.slide {
    height:100vh;
}

.link-icon {
    margin-top: 50px;
    width: 60px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.link-icon:hover {
    transform: scale(1.1);
    box-shadow: 15px 0 50px var(--yellow-light), -20px 0 50px var(--pink-light);
}

.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divider {
    width: 100px;
    height: 20px;
    background-color: var(--yellow-light);
    border-radius: 10px;
    margin: 40px auto;
}

.kioreco-details {
    width: 90%;
    color: var(--pink-light);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}
.kioreco-details .logo-big {
    width: 100%;
    max-width: 1000px;
}

.slogan {
    margin-top: 20px;
    margin-bottom: 0;
}

.kioreco-description {
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.title-background {
    position: relative;
    top: 50px;
    left: -50px;
    width: 600px;
    height: 80px;
    background-color: var(--yellow-light);
    border-radius: 50px;
}

.slide-title {
    font-size: 60px;
    font-weight: 800;
    position: relative;
    left: 120px;
}